body {
    font-size: 1em;
}

.container {
    /*width: 100%;*/
    width: 600px;
    height: 100vh;
    margin: 0 auto;
}

header {
    background-color: purple;
    width: 100%;
    height: 10vh;
}

aside {
    background-color: red;
    float: left;
    width: 20%;
    height: 100vh;
}

main {
    background-color: yellow;
    /*width: 80%;*/
    width: 100%;
    height: 100%;
    float: left;
}

header h1 {
    /*padding: 20px 0;*/
    font-size: 1.8em;
    font-weight: bold;
}

section {
    height: 90vh;
}


.article {
    height: 400px;
    background-color: #DCDCE8;
    margin-top: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    float: left;
    width: 250px;
    margin-left: 30px;
}

.article-head {
    height: 30px;
    padding-top: 10px;
    margin: 0;
    width: 100%;
    background-color: black;
}

.article h1 {
    font-size: 0.8em;
    padding-left: 10px;
    color: white;
}
