* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    background-image: url(../../assets/img/gamingbg.png);
    background-attachment: fixed;
}

i {
    padding-right: 5px;
}

header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: grey;
    border: none;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

header li {
    font-size: 25px;
    width: 100%;
    height: 10%;
}

header li a {
    display: block;
    padding: 20px 14px;
    text-align: left;
    padding-left: 25%;
    text-decoration: none;
    color: white;
}

header li a:hover {
    background-color: #27BA3D;
    color: #FFF9FF;
}

header {
    background-color: #4EA456;
    padding-top: 10px;
}

aside {
    float: left;
    width: 20%;
    background-color: #4EA456;
    height: 100%;
    position: fixed;
    overflow: auto;
    border-right: 6px solid white;
}

main {
    float: right;
    width: 80%;
    height: 100%;
    /*background-image: url(img/bg42.png);*/
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    color: #151D24;
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

p {
    width: 70%;
    margin-top: 2.5%;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.round-img {
    border-radius: 100%;
}

.header-pic {
    padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.left {
    text-align: left;
}

.codewrap {
    width: 50%;
}

pre.prettyprint {
    overflow: auto;
}



.content {
    background-color: #E7DFDF;
    margin:5% 10% 10% 10%;
    height: 100%;
    width: 80%;
    word-wrap: break-word;
    overflow: hidden;
    padding-bottom: 5%;
    /*min-height: 600px;*/


}

.mobile-pic {
    display: none;
}

.mobile-head {
    display: none;
}

/* for mobile */
.button {
    width: 30px;
    height: 30px;
    margin: 2% 5% 1% auto;
}

.hidden {
    display: hidden;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4)
}

.modalbtn {
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.img-resize {
    width: 100%;
}

.img-container {
    display: flex;
    flex-wrap: wrap;

}

.img-part {
    width: 33.33%;
}

.img-part img {
    width: 100%;
}

.exampleimg {
    margin: 0 auto;
    margin-bottom: 10px;
    float: left;
}

.text {
    float: left;
}

.images {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    cursor: pointer;
}

.images img {
    width: 33.33%;
    height: 33.33%;
}

.game-wrap {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    max-width: 300px;
}

.header-img {
    width: 100%;
}

.header-img img {
    width: 100%;
}

.extra-space {
    padding: 40px 0;
}

.full {
    width: 100%;
    font-size: 40px;
}

.no {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    body {
        overflow: auto;
    }

    aside {
        display: none;
    }

    .hidden {
        display: block;
    }

    .mobile-head {
        display: block;
        height: 100%;
        padding: 0;
        overflow: hidden;
    }

    header li {
        display: block;
    }

    header li a {
        float: left;
        padding: 10px 5px;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    header ul {
        display: none;
    }

    main {
        width: 100%;
        float: none;
        height: 100%;
        overflow: hidden;
    }

    .content {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .content img {
        display: block;
        /*width: 100%;*/
    }

    .button {
        display: block;
    }

    .mobile-pic {
        display: block;
        width: 50%;
    }

    .modal-content {
        width: 100%;
    }
}